body {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 48px;
    /* transition: .6s all cubic-bezier(0.4, 0, 0.2, 1); */
    width: auto;
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

textarea {
    width: 100%;
    min-height: 300px;
    /* border-top: 1px solid rgba(0, 0, 0, 0.12); */
    /* box-shadow: 0 2px 2px rgb(0 0 0 / 22%); */
    /* border: 1px solid grey; */
    border: none;
    word-break: break-word;
    white-space: pre-wrap;
    /* border-radius: 8px; */
    /* margin: 5px; */
    /* padding: 5px; */
    font-size: 1rem;
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* input:focus, */

textarea:focus {
    outline: none;
    /* border-top: 1px solid #f60; */
    /* padding: 3px; */
}

.button {
    width: 15%;
    text-align: center;
    padding: 5px 0;
    /* display: flex; */
    /* box-sizing: border-box; */
}

button {
    width: 60%;
    height: 38px;
    background-color: #0095f6;
    border: none;
    color: white;
    text-align: center;
    border-radius: 4px;
    outline: none;
    font-size: 1rem;
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    margin: 20px;
}

button:active {
    background-color: rgba(var(--d69, 0, 149, 246), .7);
    opacity: 1;
}

/* class="container" */

#wrap {
    display: flex;
    margin: 40px 0px;
    visibility: hidden;
}

.textarea {
    /* min-width: 400px; */
    width: 45%;
    min-height: 300px;
    /* margin: 20px 20px 20px 0px; */
    /* padding: 20px 20px 20px 20px; */
    word-break: break-word;
    white-space: pre-wrap;
    padding: 15px 15px 50px;
    border-radius: 8px;
    background-color: white;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px rgb(0 0 0 / 22%);
}

.textarea:focus {
    outline: none;
    /* border-top: 1px solid #f60; */
    /* padding: 3px; */
}

ul {
    list-style-type: none;
    /* margin-top: 1rem; */
    margin-top: 10px;
    padding: 5px 0px;
    /* border: 1px solid #ccc; */
    /* background-color: whitesmoke; */
    border-radius: 4px;
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px rgb(0 0 0 / 22%);
}

li {
    /* font: 200 20px/1.5 Helvetica, Verdana, sans-serif; */
    padding: 4px 2px;
    min-width: 80px;
    /* border-bottom: 1px solid #ccc; */
}

li.active {
    background-color: #0099ff;
    color: #fff;
}

#output {
    background-color: #f5f5f5;
}

.alert {
    display: none;
    position: fixed;
    bottom: 24px;
    left: 0px;
    min-width: 288px;
    margin-left: 24px;
    z-index: 99999;
    padding: 16px 32px;
    /* border: 1px solid transparent; */
    border-radius: 2px;
    color: white;
    background-color: #323232;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

/*在小于800 像素的屏幕，微小屏幕，更低分辨率的手机*/

@media (max-width: 800px) {
    body {
        width: 100%;
        padding: 0 0px;
    }
    #wrap {
        display: block;
    }
    .textarea {
        width: 100%;
        min-height: 250px;
        border-top: 1px solid rgba(0, 0, 0, 0.12);
        /* box-shadow: none; */
        border-radius: 0px;
        box-shadow: 0 2px 2px rgb(0 0 0 / 22%);
    }
    .button {
        display: flex;
        margin-top: auto;
        width: 100%;
        text-align: center;
        padding: 5px 0;
        /* display: flex; */
        /* box-sizing: border-box; */
    }
    #output {
        visibility: hidden;
        min-height: 50px;
        /* background-color: #1a73e8; */
        /* color: white; */
    }
    .alert {
        width: 100%;
        left: 0;
        bottom: 0;
        margin-left: 0px;
    }
    li {
        font-size: 2rem;
    }
}